body {
    margin: 0;
    background-color: #7793D4;
}

.app-screenshot, .app-introduction {
    display: inline-block;
}

.app-screenshot {
    width: 750px;
}

.app-introduction {
    width: 500px;
    vertical-align: top;
}

.black {
    margin-left: 80px;
    margin-right: 60px;
}

.black, .silver {
    margin-top: 80px;
    display: inline-block;
}

.black img, .silver img {
    max-width: 300px;
}

.app-logo {
    margin-left: 240px;
    margin-top: 100px;
}

.app-logo img {
    width: 180px;
    height: auto;
}

.app-intro {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #E6EAF3;
    margin-left: 260px;
    margin-top: -28px;
}

.app-intro h1 {
    font-size: 47px;
    font-weight: 300;
    letter-spacing: 0.76px;
}

.app-intro h3 {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.50px;
    text-align: center;
    margin-left: -86px;
    margin-top: -25px;
}

.app-download-buttons {
    margin-left: 245px;
    margin-top: 32px;
}

.download-iOS-button, .download-android-button {
    display: block;
    height: 60px;
    width: 180px;
    background-color: transparent;
    border: 2px solid #E6EAF3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #E6EAF3;
    font: 100 23px "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
}

.button-image {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 3px;
}

.iOS-image {
    width: 30px;
    height: auto;
}
.android-image {
    width: 30px;
    height: auto;
    margin-right: 8px;
}

.button-text {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.download-iOS-button {
    margin-bottom: 10px;
}

a.btn {
    text-decoration: none;
    color: #E6EAF3;
}

.rights {
    color: #E6EAF3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 0.44px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.rights a {
    color: #E6EAF3;
    text-decoration-color: #E6EAF3;
}

.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.modal-wrapper{
    width:100%;
    height:100%;
    position:fixed;
    top:0; left:0;
    background:rgba(255,255,255,0.75);
    visibility:hidden;
    opacity:0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.modal-wrapper.open{
    opacity:1;
    visibility:visible;
}

.modal{
    width:600px;
    height:400px;
    display:block;
    margin:50% 0 0 -300px;
    position:relative;
    top:50%; left:50%;
    background:#7793D4;
    opacity:0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.modal-wrapper.open .modal{
    margin-top:-200px;
    opacity:1;
}

.head{
    width:90%;
    height:32px;
    padding:1.5em 5%;
    overflow:hidden;
    background: #7793D4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn-close{
    width:32px;
    height:32px;
    display:block;
    float:right;
}

.btn-close::before, .btn-close::after{
    content:'';
    width:32px;
    height:6px;
    display:block;
    background:#fff;
}

.btn-close::before{
    margin-top:12px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

.btn-close::after{
    margin-top:-6px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.content{
    padding:5%;
}

.content > img {
    max-width: 250px;
    max-height: 250px;
    margin: auto;
    display: block;
}
